/* Custom Styles for WordPress Theme */

body {
    background: url('./background-image.jpeg') center center fixed;
    background-size: cover;
    color: black;
    font-weight: 500;
}

header {
    background-color: #000080;
    margin-top: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-navbar {
    background-color: #002aff;
    /* Change this color to your desired shade of blue */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    color: #fff;
    font-size: 20px;
}

.search-container {
    /* margin: 5px 15px 15px 5px; */
}

.search-form {
    display: flex;
}

.search-form input[type="search"] {
    padding: 8px;
    width: 70%;
    border: none;
    /* Remove input border */
    border-radius: 5px;
    /* Rounded corners for input */
    background-color: #fff;
    /* White background for input */
    color: #000;
    /* Black text color for input */
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: #fff;
    /* Set the main nav link color to white */
    text-decoration: none;
    font-size: 16px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-nav .menu-item-has-children {
    position: relative;
}

/* Style for the first dropdown links */
/* Style for the first-level dropdown links */
.navbar-nav .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
}

.navbar-nav .menu-item-has-children:hover>.sub-menu {
    display: block;
}

.navbar-nav .sub-menu li {
    padding: 10px;
}

.navbar-nav .sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: box-shadow 0.3s ease;
}

.navbar-nav .sub-menu a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Style for the second-level dropdown links */
.navbar-nav .sub-menu .sub-menu {
    position: absolute;
    top:0;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    margin-top: -10px;
}

.navbar-nav .sub-menu:hover>.sub-menu {
    display: block;
}

.navbar-nav .sub-menu .sub-menu li {
    padding: 10px;
}

.navbar-nav .sub-menu .sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: box-shadow 0.3s ease;
}

.navbar-nav .sub-menu .sub-menu a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Style for the third-level dropdown links */
/* Style for the third-level dropdown links */
.navbar-nav .sub-menu .sub-menu .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    /* Adjust the border-radius as needed */
    margin-top: 10px;
}

.navbar-nav .sub-menu .sub-menu:hover>.sub-menu {
    display: block;
}

.navbar-nav .sub-menu .sub-menu .sub-menu li {
    padding: 10px;
}

.navbar-nav .sub-menu .sub-menu .sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: box-shadow 0.3s ease;
}

.navbar-nav .sub-menu .sub-menu .sub-menu a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar-nav .sub-menu .sub-menu .sub-menu .sub-menu {
    position: absolute;
    top: 25;
    left: 100%;
    color: black;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    /* Adjust the border-radius as needed */
    margin-top: 10px;
}

.navbar-nav .sub-menu .sub-menu .sub-menu:hover>.sub-menu {
    display: block;
}

.navbar-nav .sub-menu .sub-menu .sub-menu li {
    padding: 10px;
}

.navbar-nav .sub-menu .sub-menu .sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    transition: box-shadow 0.3s ease;
}

.navbar-nav .sub-menu .sub-menu .sub-menu a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}